@import '@fontsource/nunito/300.css';
@import '@fontsource/nunito/400.css';
@import '@fontsource/nunito/500.css';
@import '@fontsource/nunito/700.css';

.background_page {
    background-image: url('./assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

